@using NuGetCalcWeb.ViewModels
@inherits AppTemplateBase<CompatibilityModel>
@{
    Layout = "_Layout";
    ViewBag.Title = "Compatibility Result - NuGetCalc";
}

<div class="container">
    <h1>Find The Most Compatible Reference Assemblies</h1>
    @ExternalSnippets.Default.AdTop
    <div class="row">
        <div class="col-sm-5" id="compatibility-pkgselector">
            @Include("_PackageSelector", Model.PackageSelector)
        </div>
        <div class="col-sm-7">
            @if (Model.Error == null)
            {
                <h2>Result</h2>
                <h3>Reference Assemblies</h3>
                if (!Model.ReferenceAssemblies.IsNullOrEmpty())
                {
                    <ul>
                        @foreach (var file in Model.ReferenceAssemblies)
                        {
                            <li>@file</li>
                        }
                    </ul>
                }
                else
                {
                    <p>No assembly to add your project</p>
                }
                    
                <h3>Dependencies</h3>
                if (!Model.Dependencies.IsNullOrEmpty())
                {
                    <ul>
                        @foreach (var dependency in Model.Dependencies)
                        {
                            <li>@dependency</li>
                        }
                    </ul>
                }
                else
                {
                    <p>No dependency</p>
                }
            }
            else
            {
                <h2>Error</h2>
                <p>@Model.Error</p>
                if (Model.Exception != null)
                {
                    <pre>@Model.Exception</pre>
                }
            }
        </div>
    </div>
</div>
