@using NuGetCalcWeb.ViewModels
@inherits AppTemplateBase<FilePreviewModel>
@{
    Layout = "_Layout";
    ViewBag.Title = Model.Breadcrumbs[Model.Breadcrumbs.Length - 1];
    ViewBag.NoIndex = true;
}

<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="@(Model.Breadcrumbs.Length == 1 ? "./" : "../".Times(Model.Breadcrumbs.Length - 1))">@Model.Identity</a></li>
        @for (int i = 0, j = Model.Breadcrumbs.Length - 2; i < Model.Breadcrumbs.Length - 1; i++, j--)
        {
            <li>
                <a href="@(j == 0 ? "./" : "../".Times(j))">@Model.Breadcrumbs[i]</a>
            </li>
        }
        <li>@Model.Breadcrumbs[Model.Breadcrumbs.Length - 1]</li>
    </ol>

    @ExternalSnippets.Default.AdTop

    @Raw(Model.Content)
</div>
